/*--------------------------------------- Responsive (MIN) ------------------------------------------*/

@media (min-width: 1200px) {

	.container {max-width:1240px}

}



@media (min-width: 991px) {

	.sec-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {

		display: block;

	}

	div.submenu-item .submenu-ct-detail, header .language ul, .photo-album, .submenu-item .submenu-link i {display: block}

	.submenu-item:hover .submenu-ct-detail {

		display: block; 
		z-index: 10;

	}

	.sec-nav .navbar li.language, .photo-album-m, .navbar .dropdown-toggle::after {display: none}

	

	.sec-nav .navbar .navbar-nav .nav-item > .dropdown-menu {

		width: 960px;

		box-shadow: 0 6px 6px rgba(0,0,0,.25);

		padding: 0;

		border-radius: 0;

		min-height: 242px;

		border: 1px solid #cc9900;

	}
	
	.dropdown-menu .dropdown-menu {
		display: none !important;
	}
	.dropdown.submenu-item:hover .submenu-ct-detail {
		display: block;
		z-index: 12;
	} 
	.dropdown.submenu-item .submenu-ct-detail {
		position: absolute;
		top:0;
		right:0;
		left: 30%;
		bottom: 0;
		display: none;
		border-left: 1px solid #cc9900;
	}
	
	.open-detail > li:first-child .submenu-ct-detail {
		position: absolute !important;
		top:0;
		right:0;
		left: 30%;
		bottom: 0;
		display: block;
		border-left: 1px solid #cc9900 !important;
		z-index: 11;
	}
	

	.sec-nav .navbar .navbar-nav .nav-item:last-child > .dropdown-menu {min-height: 264px}



	.nav-item:nth-of-type(4) > .dropdown-menu:before {left: 64px;}

	.nav-item:nth-of-type(4) > .dropdown-menu:after {left: 65px;}



	.nav-item:nth-of-type(n+6) > .dropdown-menu {left: -240px;}

	.nav-item:nth-of-type(n+6) > .dropdown-menu:before {left: 291px;}

	.nav-item:nth-of-type(n+6) > .dropdown-menu:after {left: 292px;border-bottom-color: #ffffff;}



	.nav-item:nth-of-type(7) > .dropdown-menu:before {left: 320px;}

	.nav-item:nth-of-type(7) > .dropdown-menu:after {left: 321px;}



	.nav-item:nth-of-type(8) > .dropdown-menu {left: -480px;}

	.nav-item:nth-of-type(8) > .dropdown-menu:before {left: 568px;}

	.nav-item:nth-of-type(8) > .dropdown-menu:after {left: 569px;}



	.nav-item:nth-last-of-type(-n+3) > .dropdown-menu {right: 0;left: initial;}

	.nav-item:nth-last-of-type(-n+3) > .dropdown-menu:before {right: 38px; left: initial;}

	.nav-item:nth-last-of-type(-n+3) > .dropdown-menu:after {right: 39px;left: initial;border-bottom-color: #ffffff;}



	.nav-item:nth-of-type(9) > .dropdown-menu:before {right: 44px; left: initial;}

	.nav-item:nth-of-type(9) > .dropdown-menu:after  {right: 45px; left: initial;}

	@media (min-width: 992px) and (max-width: 1366px) {
		
		.nav-item:nth-of-type(4) > .dropdown-menu {left: -250px;}
		.nav-item:nth-of-type(4) > .dropdown-menu:before {
		    left: 309px;
		}
		.nav-item:nth-of-type(4) > .dropdown-menu:after {
		    left: 310px;
		}
		.nav-item:nth-child(5) > .dropdown-menu  {
		    left: -364px;
		}
		.nav-item:nth-of-type(5) > .dropdown-menu:before {
		    left: 413px;
		}
		.nav-item:nth-of-type(5) > .dropdown-menu:after {
		    left: 414px;
		}
		.nav-item:nth-of-type(6) > .dropdown-menu {left: -420px;}
		.nav-item:nth-of-type(6) > .dropdown-menu:before {
		    left: 495px;
		}
		.nav-item:nth-of-type(6) > .dropdown-menu:after {
		    left: 496px;
		}
		.nav-item:nth-of-type(7) > .dropdown-menu {left: -620px;}
		.nav-item:nth-of-type(7) > .dropdown-menu:before {
		    left: 700px;
		}
		.nav-item:nth-of-type(7) > .dropdown-menu:after {
		    left: 701px;
		}
	}

	.service.item .zoom-in {border-radius: 50%; overflow: hidden; position: relative}

	.service.item .zoom-in .shadow-hover {border-radius: 50%;position: absolute;top:0;bottom:0;left: 0;right:0;display: flex;background: rgba(0,0,0,.50);color:#2d1a47;justify-content: center;opacity: 0;}

	.service.item .zoom-in .shadow-hover i {align-self: center; font-size: 20px; width: 56px; height: 56px; line-height: 56px; background: #fff; border-radius: 50%; font-weight: normal; opacity: 0;

    	-webkit-transform: translateY(50px) scale(0);

		-moz-transform: translateY(50px) scale(0);

		-o-transform: translateY(50px) scale(0);

		transform: translateY(50px) scale(0);

	}

	.service.item .zoom-in:hover .shadow-hover { opacity: 1}

	.service.item .zoom-in:hover img {transform: scale(1.15)}

	.service.item .zoom-in:hover .shadow-hover i:hover {background: #7f4c9b; color: #fff}

	.service.item .zoom-in:hover .shadow-hover i {opacity: 1; 

		-webkit-transform: translateY(0) scale(1);

		-moz-transform: translateY(0) scale(1);

		-o-transform: translateY(0) scale(1);

		transform: translateY(0) scale(1);

	}



}



@media (min-width: 769px) {

	.navbar .dropdown-menu {top:92%}

}


@media (max-width: 990px) {

	header {padding: 12px 16px 2px; position: sticky; top: 0px; z-index: 200; background: #fff}

	header .search > a {padding-right: 0;font-size: 24px;padding-top: 4px;margin-right: 0;}

	header .search .icon-search:before {content: "\e900";}

	.navbar-nav .nav-item .dropdown-menu:before, .navbar-nav .nav-item .dropdown-menu:after {display: none}

	.affix {top:52px}

	.scroll .navbar-light .navbar-toggler {margin-top: -44px;}

	

	.sec-nav .container {padding-left: 0; padding-right: 0}

	.sec-nav .navbar .navbar-nav .nav-item:nth-of-type(n+2) {align-self: start;display: block;width: 100%;}

	.sec-nav .navbar .navbar-nav {padding: 0 0 16px 0px;overflow-y: auto;}

	.sec-nav .navbar .navbar-nav .nav-link {padding-left: 16px;padding-right: 16px;display: flex;justify-content: space-between;text-transform: uppercase;font-weight: 600;transition: none;border-bottom: 1px dotted rgba(43, 26, 70, 0.15);line-height: 1.2rem;}

	.sec-nav .navbar .navbar-nav .nav-item.show > a.nav-link {

		background: #cc9900;color: #fff;

	}

	

	.navbar-nav .nav-item .dropdown-menu {border: none;margin-top: 0;padding-top: 0;background: #e9e7e8;padding-bottom: 0;}

	.submenu-item .submenu-link {flex: 0 0 100%;padding: 12px 16px;font-size: 14px;text-transform: none;color: #000;border-bottom: 1px dotted rgba(0, 0, 0, 0.26);justify-content: left;}

	.submenu-item:last-child .submenu-link {border-bottom: none}

	.submenu-item .submenu-link:before, 

	.navbar .dropdown-toggle::after {

		font-family: FontAwesome;

		speak: none;font-style: normal;

		font-weight: normal;

		font-variant: normal;

		text-transform: none;

		line-height: 1; 

		-webkit-font-smoothing: antialiased;

		-moz-osx-font-smoothing: grayscale;

		content: "\f101";

		margin-right: 8px;color: #cc9900;

	}

	

	.navbar .dropdown-toggle::after {margin-top: -3px;}

	

	.navbar .dropdown-toggle::after {

		font-family: FontAwesome;

		align-self: center;

		border: none;

		content: "\f101";

		color: #2b1a46;

		margin-right: 0;

	}

	.sec-nav .navbar .navbar-nav .nav-item.show > .dropdown-toggle::after {

		content: "\f103"; color: #fff

	}

	

	.sec-main-banner .carousel-indicators {position: static; margin-top: 20px; margin-bottom: 0}

	.sec-main-banner .carousel-indicators li {width: 10px;height: 10px;background: #ddd;}

	

	.sec-service {padding: 32px 8px 0;}

	.sec-service .main-title-sapo {display: none}

	.sec-service, .sec-gallery, .sec-news {padding-left: 0; padding-right: 0}

	.sec-service .title-wrap {margin-bottom: 20px}

	.sec-service .service h5 {width: auto;margin-top: 16px;margin-bottom: 4px;}

	.sec-service .owl-theme .owl-dots .owl-dot span {width: 10px;height: 10px;margin: 0 5px;}

	.sec-service .owl-stage-outer {margin-bottom: 0px;}

	.sec-service .owl-theme .owl-nav.disabled+.owl-dots {margin-top: 0}

	

	.sec-gallery {padding-bottom: 8px}

	.sec-gallery .col-md-6.mb-3 {margin-bottom: 36px!important}

	.sec-gallery .main-title {margin-bottom:0; }

	

	.sec-testimonial {padding: 32px 0 8px;background: #fff;}

	.sec-testimonial .title-wrap {margin-bottom: 24px;}

	

	.sec-news {padding-top: 0;padding-bottom: 24px;}

	

	.wrap-left {display: none}

	.wrap-right {padding:12px 0 0}

	.sec-main-ct {background: #fff;}

	.title-post {text-align: center; padding-bottom: 16px; margin-bottom: 16px!important;}

	.wrap-right h4 {text-align: center;font-size: 20px;font-weight: 500;}

	.text-sapo {text-align: center;font-weight: 500;font-size: 12px;}



}



@media (max-width: 768px) {

	.sec-news .row .col-6.col-md-4:last-child {display: none}

	.floating-btn-contact span {}

	.floating-btn {bottom: 84px;right: 16px;}

	.endpage .floating-btn {bottom: 150px;}

	.sec-testimonial .container {padding-left: 0; padding-right: 0}

	

	.block-content h4, .block-content h6 {font-weight: 400;margin-bottom: 16px;}

	.block-content.promo {margin-left: -15px;margin-right: -15px;padding: 24px 15px 12px;}

	

	.flex-reverse {flex-direction: column-reverse}

	.flex-reverse .col-md-6:nth-of-type(2), .block-content {margin-bottom: 24px}

	

	#doctor-slider .carousel-indicators {margin-left: -15px;margin-right: -15px;margin-top: 24px;}

	.block-content.doctor .doctor-txt {background: #fff;padding-top: 12px;margin-top: -60px;position: relative;}

	#doctor-slider .carousel-indicators li {padding-left: 15px}

	.block-content.doctor .doctor-txt:before {background: url("../images/doc-separate-m.png") center top no-repeat; position:absolute; right:8px; left: 0; top:-47px; content:""; display: block; height: 48px;}

	

	/*.navbar-collapse {display: block!important; background: rgba(0,0,0,.75); width: 100vw; height: 100vh; position: fixed; left: -100vw; top: 52px;z-index:9999;}*/

	.navbar-collapse {display: block!important;}

	.navbar-collapse .navbar-nav {width: 250px; position: fixed; top: 52px; left: -250px; bottom: 0; z-index: 999; background: #fff; transition: all 0.4s ; padding-bottom: 32px !important;}

	body.open {overflow-y: hidden}

	/*.open .navbar-collapse,*/ .open .navbar-collapse .navbar-nav {left: 0;}

}



@media (max-width: 640px) {

	body {font-size: 11px; line-height: 1rem}



	header .search {position: static}

	header .search .dropdown-menu {width: 100%;left: 0;right: 0;padding: 4px 0 0;margin-right: -5px;border: none;}

	header .search .dropdown-menu:before, header .search .dropdown-menu:after {display: none}

	header .search .dropdown-menu .form-control {border-bottom-color: #e4e4e4;text-align: center;padding: 16px 16px 10px;height: auto;background: #f7f7f7;}

	

	.container {padding-left: 10px; padding-right: 10px}

	.row {margin-left: -10px; margin-right: -10px}

	.no-gutters {margin-right: 0; margin-left: 0;}

	

	.sec-news .col-6.col-md-4:nth-of-type(odd), .block-content .col-6:nth-of-type(odd) {padding-right: 8px}

	.sec-news .col-6.col-md-4:nth-of-type(even), .block-content .col-6:nth-of-type(even) {padding-left: 8px}

	

	.owl-theme .owl-dots .owl-dot span {width: 10px;height: 10px;margin: 0 5px;}

	





	.floating-btn-contact a {margin-right: 0;flex: 0 0 48%;}

	

	.video-popup iframe {height: 320px}

	

	

	footer .ft-lg {margin-bottom: 22px}

	.ft-info p {font-size: 12px; line-height: 15px}

	

	.text-sapo {font-size: 11px; font-weight: bold}

	.text-sapo + p.mb-3 {margin-left: -15px; margin-right: -15px}

	.sec-service .service p {font-size: 10px;line-height: 12px;}

	

	.floating-btn-contact {left: 0;right: 0;justify-content: space-between;background: #fff;bottom: 0;padding: 8px 10px;}

	.checked-list .icon-check {font-size: 15px;margin-top: 0px;margin-right: 8px!important;}

	.sec-main-ct {font-size: 11px; font-family: 'Arial'}

	.sec-main-ct .text-sm {font-size: 11px}

	.sec-main-ct .checked-list {font-size: 13px;}

	.sec-main-ct .font-weight-semibold {font-weight: 700}

	.title-post:after {width: 50px}

	footer {padding-top: 56px;margin-bottom: 64px;}

	footer .ft-copyright {font-size: 11px;line-height: 1.5;padding: 8px 15px;color: #ffffff;/* background: none; */}

}

	